[autogen]
/build/!README
/build/*
/www/dist
/www/assets/locales/*/*.json
/bin/reporters/event_listeners.html
/doc/api
/.sublime-project.sublime-workspace
/.jshint.html
/tests.html
/en.yml
/en.json
/en.xml
/integration-tests.html
/doc/coverage
# webpack generates this as part of its build:
/src/js/main.js

[build]
/tmp/*
!/tmp/.gitkeep
/releases

[assets]
/www/assets/fonts/*/index.html
/www/assets/icons/quizard-favicon.png
/www/assets/icons/quizard-512.png
/www/assets/icons/icon-128.png
exclude
*.zip
*.gz

[env]
/.grunt/
/node_modules/
/assets
*.swp
/www/src
/www/vendor
/src/js/config/environments/*.js
/.plato
/.eslint*

[repos]
/vendor/js/router.js
