[autogen]
/build/!README
/build/*
/www/dist
/www/assets/dist
/www/assets/locales/*/*.json
/bin/reporters/event_listeners.html
/doc/api
/.sublime-project.sublime-workspace
/.jshint.html
/tests.html
/en.yml
/en.json
/en.xml
/integration-tests.html

[build]
/tmp/*
!/tmp/.gitkeep

[assets]
/www/assets/fonts/*/index.html
/www/assets/images/bgs
/www/assets/images/wallpapers
/www/assets/images/screenshots
exclude
*.zip
*.gz

[env]
/.grunt/
/node_modules/
/assets
*.swp
/www/src
/www/vendor
/src/js/config/environments/*.js


[repos]
/vendor/js/router.js
