#asset_preloader {
  font-family: 'Pibi';
  position: absolute;
  width:  1px;
  height: 0;
  z-index: -10;
  color: transparent;
  font-size: 0;
  display: block;
}

#loading_screen {
  .fullscreen();
  .disable-selection();
  .transition(~"opacity 0.25s ease-in-out 0s");

  opacity: 1;
  background: @brand-color;
  color: white;

  &.background {
    display: none;
  }

  position: fixed;
  z-index: 1000;
  overflow: hidden;

  header {
    margin: -55px 0 0 0;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;

    > span {
      display: block;
    }
  }

  .version {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.25);
  }

  #loading_status {
    padding: 5px 0;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height:     168px;
    margin-top: -96px;
    margin-left: -200px;

    &:before {
      .iconify(@icon-quiz);
      line-height: 168px;
    }
  }
}

// This is done in CSS because we don't want it to show up in SEO.
#loading_status:empty {
  &:after {
    content: "Loading... Please wait.";
  }
}