.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  height: 5px;
  overflow: hidden;
  border-radius: 2px;
  background-color: @shade;
}

.loading-indicator .bar {
  position: relative;
  width: 0;
  height: 100%;
  background-color: @red;
  .transition(width 2.6s ease);
}