@green:       #1abc9c;
@green-alt:   #98BF0D;
@green-alt2:  #2ecc71;
@lime:        #99CC00;
@lime-button: #5bb75b;
@yellow:      #FFBA00;
@orange:      #FFBB33;
@orange-alt:  #EF7901;
@red:         #D14836;
@darkred:     #CC0000;
@red-alt:     #D14836;
@red-alt2:    #D54421;
@lightred:    #FF4444;
@old-blue:    #33B5E5;
@blue-alt:    #01B0EC;
@blue:        #5897fb;
@dark-blue:   @blue;
@light-blue:  #87CEFA;
@purple:      #AA66CC;
@purple-alt:  #7449f1;
@pink:        #B147A3;
@gray:        #888888;
@teal:        #3EB489;
@secondary-region-bg: @blue;

@button-red:  #DA4F49;
@button-blue: #2A99EF;
@button-green: @lime-button;
@active: @button-green;

@foreground:  #444;
@active_fg:   #888;
@active_bg:   rgba(0,0,0,0.00725);
@inactive_fg: rgba(0,0,0,0.35);
@link_fg:     #3366CC;
@high_contrast_fg: #eee;
@shade: #eee;

@current_fg: @foreground;
@current_bg: #eee;

@low-contrast-border: #e4e4e4;
@dark_opaque_fg: rgba(255, 255, 255, 0.66);

@shadow: #aaa;
@region-bg: #f4f4f4;
@mute-fg: #888;
@bg: white;
@brand-color: @button-red;