@keyframes          anime-pulsate { 0% { opacity: 1; } 100% { opacity: 0.25; } }
@-webkit-keyframes  anime-pulsate { 0% { opacity: 1; } 100% { opacity: 0.25; } }
@-moz-keyframes     anime-pulsate { 0% { opacity: 1; } 100% { opacity: 0.25; } }
@-o-keyframes       anime-pulsate { 0% { opacity: 1; } 100% { opacity: 0.25; } }

.pulsate {
  .animate(pulsate, 650ms ease-in-out 0s infinite alternate);
}