#content {
  padding: 0 @whitespace;

  .content-header {
    font-size: 17.5px;
    line-height: 40px;
  }

  .column {
    width: 320px;
  }

  .two-columns {
    .column {
      display: inline-block;
      vertical-align: top;

      & + .column {
        margin-left: 55px;
      }
    }
  }

  .whatisthis {
    vertical-align: middle;
    color: @link_fg;
    font-size: 11.5px;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    line-height: inherit;
  }

  .quiz-questions {
    @actionbar-height: 50px;

    // Remove the spacing caused by the question text since we're injecting HTML
    legend + div > :first-child,
    legend + p {
      margin-top: 0;
    }

    fieldset {
      margin: 0 0 @whitespace*2 0;
    }

    header {
      margin: @whitespace 0;
      font-weight: bold;
      padding-left: 0;
    }

    div > label.skinned-radio {
      display: inline-block;
      line-height: inherit;
    }

    ul.question-answers {
      margin: @whitespace 0;
    }

    li.question-answer {
      display: inline-block;
      width: 97px + 2*@whitespace;
      vertical-align: bottom;
      margin-right: @whitespace;
      background: @shade;
      padding: @whitespace;
      border-bottom: 5px solid darken(@shade, 10%);

      position: relative; // for actionbars
      margin-bottom: @actionbar-height;

      &.correct-answer {
        border-bottom-color: @active;
      }

      &.missing-answer, &.unknown-answer {
        font-style: italic;
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }

      .actionbar {
        height: @actionbar-height;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 8px 0;
        line-height: @actionbar-height - 10px;

        .form-label {
          margin: 5px 0;

          .form-input[type="number"] {
            width: 37px;
            text-align: center;

            & + .add-on {
              position: absolute;
            }
          }
        }
      }
    }

    .actionbar .input-append .add-on {
      padding: 0;
    }

    .question-variant li.question-answer {
      margin-bottom: 0;
    }

    .question-controls {
      margin-top: @whitespace;
      display: block; // to override what .btn-group does to those who have it
    }

    input[readonly] {
      color: @mute-fg;
      background: @shade;
    }

    .matching-question {
      .question-variant {
        background: @region-bg;
        border: 1px solid @shade;
        padding: 1px 15px;

        &+.question-variant {
          border-top: none;
        }
      }

      .question-answer {
        display: block;
        width: auto;
        background: transparent;
        border-bottom-width: 1px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;

        .answer-text {
          display: inline-block;
          width: 320px;
          vertical-align: top;
        }

        li.correct {
          background: @active;
          color: white;

          &:hover {
            background: @blue;
          }
        }
      }
    }
  }

  #enroll-students, #load-students {
    fieldset + fieldset {
      margin-top: @whitespace;
    }

    legend + p {
      margin-top: 0;
    }

    legend + .form-label {
      margin-top: 0;
    }
  }

  .form-input[type="number"] {
    width: 48px;
    margin-right: 5px;
  }

  // for the student count "Between X and Y"
  .form-input + small.add-on {
    font-weight: bold;
  }
}

.operation-tracker {
  header {
    position: relative;
    line-height: 32px;
    font-size: 14.5px
  }

  .operation-eta {
    top: 0;
  }

  .progress-bar {
    margin: @whitespace 0;
  }

  .operation-log {
    margin-top: @whitespace;

    li {
      line-height: 24px;
      font-size: 12.5px;

      &.failed {
        color: @red;
      }
    }

    .operation-log-entry-elapsed {
      margin-left: 5px;
      color: @mute-fg;
    }
  }
}

.dialog-title .course-name, .dialog-title .quiz-name {
  .ellipsify();
  max-width: 310px;
  display: inline-block;
  vertical-align: top;
}