#content {
  position: absolute;
  top: @menubar-height + @region-spacing;
  right: 0;
  bottom: @statusbar-height + @region-spacing;
  left: @navbar-width + @region-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  padding: @whitespace;

  background: #f4f4f4;
  border-radius: @radius;
  box-shadow: 0 1px 3px -1px @shadow;
}

body.guest #content {
  left: 0;
}