#content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: @statusbar-height + @region-spacing;
  left: @navbar-width + @region-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  padding: @whitespace;

  background: @region-bg;
  border-radius: @radius;
  box-shadow: 0 1px 3px -1px @shadow;
}