#navbar {
  @actions-height: 30px;
  @actions-margin: @region-spacing;

  position: absolute;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;

  top: 0;
  right: auto;
  bottom: 0;
  left: 0;

  width: @navbar-width;

  color: #666;
  // background: rgba(255,255,255,0.9);
  // box-shadow: 2px 2px 4px @shade;
  font-size: 16.5px;
  line-height: 42px;

  // background: #555;
  .disable-selection();

  .navbar-links {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: @actions-height + @actions-margin;
  }

  .navbar-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: @actions-height;
    line-height: @actions-height;
    font-size: 13.5px;
    padding: 0 @whitespace;
  }
}

.navbar-link {
  position: relative;
  display: block;
  color: inherit;
  padding: 0 @whitespace;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

  &:hover, &:focus, &.active {
    text-decoration: none;
    background: rgba(0,0,0,0.05);

    &:before {
      opacity: 1;
    }
  }

  &:before {
    display: block;
    position: absolute;
    right: @whitespace;
    line-height: inherit;
    font-weight: normal;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.navbar-subnav {
  margin: 0;
  padding: 5px 0;
  @width: 1px;
  @offset: 20px;
  @height: 30px;
  list-style-type: none;

  li a {
    display: block;
    color: inherit;
    font-size: 12.5px;
    line-height: @height;
    padding-left: @offset;

    &:hover, &.active {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.navbar-heading {
  margin: 10px @whitespace;
  font-size: 16.5px;
  line-height: 30px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color: #888;

  i {
    position: absolute;;
    right: @whitespace;
  }
}