#statusbar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: @statusbar-height;
  left: @navbar-width + @region-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 5px @whitespace;

  background: white;
}