#statusbar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: @statusbar-height;
  left: @navbar-width + @region-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 5px @whitespace;

  background: white;
  border-radius: @radius;
  box-shadow: 0 0 1px 0 @shadow;
}